.container.text-center
  .row
    .col-md-12
      .row
        = image_tag('logo.png', :class => 'logo img-responsive')
      .row
        %h2.col-md-10.col-md-offset-2.slogan.text-left Stock control made simple

      .row
        %hr
        .col-md-8.col-md-offset-2.text-left
          %p
            Once available to major players only, stock control systems is now a reality for small and medium companies.
          %p
            Time has come to replace paper, handwriting and manual data entry for simple and powerful technology.
          %p
            <b>stockAbility</b> online service with mobile app for simple stock control are coming soon.
            %br
            Watch this space and register your interest below.
      .row
        %hr
      .row
        %form.form-inline{ :id => 'register-interest'}
          .form-group
            %label.form-control-static{ :for => 'email' } Register your interest to stay in touch:
            %input.form-control.sa-input{ :id => 'email', :placeholder => "john.smith@company.com.au", :type => 'email' }
          %button.btn.btn-primary{ :type => 'submit' } Submit

