%meta{ :charset => "utf-8" }
%meta{ :content => "width=device-width, initial-scale=1.0", :name => "viewport"}
= content_tag :title, "Stockabilty | #{current_admin.company.try(:title)}"
%title Stockabilty | Company Name |
= stylesheet_link_tag "application"
= csrf_meta_tag
