%form.navbar-form-custom{:action => "#", :method => "post", :role => "search"}
  .form-group
    %input#top-search.form-control{:name => "top-search", :placeholder => "Search for something...", :type => "text"}
