.row.border-bottom
  %nav.navbar.navbar-static-top.white-bg{:role => "navigation", :style => "margin-bottom: 0"}
    .navbar-header
      %a.navbar-minimalize.minimalize-styl-2.btn.btn-primary{:href => "#"}
        %i.fa.fa-bars
      -# = render 'layouts/comfy/admin/cms/search'
    %ul.nav.navbar-top-links.navbar-right
      %li
        %a{:href => "#"}
          %i.fa.fa-sign-out
          Log out
