.page-header
  %h2 Product

%dl.dl-horizontal
  %dt Name
  %dd= @product.name.presence || 'N/A'
  %dt Barcode
  %dd= @product.barcode.presence || 'N/A'
  %dt Quantity
  %dd= @product.quantity.presence || 'N/A'
