.dataTables_wrapper {
  th.checkboxed {
    width: 15px !important;
    padding-right: 5px !important;
    &:after {
      content: none !important;
    }
  }

  table {
    .label {
      line-height: 2.3;
    }
  }  
}
