/*
 *= require '_bootstrap'
 */

$mrk-color: #205081;

.logo { display:inline !important; }
.slogan { color: $mrk-color; }
.sa-input {
  background: none;
  border: none;
  border-radius: 0;
  padding-left: 0;
  padding-right: 0;
  box-shadow: none !important;
  position: relative;
  z-index: 1;
  resize: none;
  color: #333;
  border-bottom: 1px solid;
  margin-left: 10px;
  margin-right: 10px;
  text-align: left;
}

input.sa-input:focus {
  color: #333333;
}

@media (min-width: 768px) {
  .sa-input {
    width: 190px !important;
  }
}

