!!!
%html
  %head
    %meta{:charset => "utf-8"}
      %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
        %title INSPINIA | Login 2
        = stylesheet_link_tag 'login'
  %body.gray-bg
    .loginColumns.animated.fadeInDown
      = yield
      %hr/
      .row
        .col-md-6
          &copy; StockAbility
          = Date.today.year
